# Ignore all files
/*

# Include the git configuration
!.gitignore

# Include the header, documentation, and cmake files
!doc/
!doc/**/*
!include/
!include/*/**
!tests/
!tests/*/**
!CMakeLists.txt

# Include the license and readme
!LICENSE
!README.md

